@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400;1,500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&family=Roboto:ital,wght@0,500;1,300;1,400;1,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



body{
    font-family: "Roboto",sans-serif;
    margin: auto;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding-right: 0.05in;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
#logo{
    
    padding-left: 40px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    padding-right: 0.05in;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-family: sans-serif;
    font-size: 25px;
}
.navbar ul li a::after{
    content: '';
    height: 5px;
    width: 0;
    background: #5a07ff;
    position: absolute;
    left : 0;
    bottom: -10px;
    transition: 0.5s;
    cursor: pointer;
}
.navbar ul li a:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
button{
    width:200px;
    padding:15px;
    margin:20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background: rgb(112, 94, 254);
    transition: 0.5s;
    cursor:pointer;
}
button:hover{
    color:white;
    cursor: pointer;
}
.banner video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.mv {
    
    padding-top: 4rem;
}
.hist{
    padding-bottom: 0.8in;
}
.mv h1,
.hist h1{
    text-align: left;
    padding-left: 0.7in;
    font-family: Poppins;
    font-size: 45px;
    padding-bottom: 0.4in;
}

.mv h1:hover{
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: transparent;
    text-shadow: 0.2px 0.2px #d7c8f5;
    
}
.hist h1:hover{
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: transparent;
    text-shadow: 0.2px 0.2px #d7c8f5;
    padding-top: 0.2in;
}

.slider{
    height: 350px;
    margin: auto;
    position: relative;
    width: 85vw;
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
}

.slide-track{
    display: flex;
    width: calc(350px*18);
    padding-bottom: 1in;
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-350px*9));
    }
}

.slide{
    height: 330px;
    width: 380px;
    display: flex;
    align-items: center;
    perspective: 100px;
    
}

.slide img{
    height: 330px;
    width: 380px;
    transition: transform 1s;
    border-radius: 42px;
    padding: 20px;
}

.slide img:hover{
    transform: translateZ(20px);
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1));
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
}



.slide-track2{
    display: flex;
    width: calc(350px*16);
    padding-bottom: 1in;
    animation: scroll1 40s linear infinite;
    
}

.slide-track2:hover{
    animation-play-state: paused;
}



@keyframes scroll1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-350px*8));
    }
}

.container h2{
    text-align: left;
    padding-left: 0.7in;
    font-family: Poppins;
    font-size: 45px;
    padding-bottom: 0.4in;
}

.container h2:hover{
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-size-adjust: 10px;
}


/*--------------explore-------------*/
.explore{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    padding-left: 0.7in;
    padding-bottom: 3rem;
}

.explore h3,.explore p{
    text-align: end;
}

.explore div{
    padding: 20px 40px;
}

.explore img{
    width: 250px;
    height: 250px;
    border-radius: 25px;
    position: relative;
    display: block;
    transition: transform 0.4s ease;
}

.explore img:hover{
    transform: scale(0.8);
}

.explore div{
    position: relative;
}



.explore div span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%,-50%);
    text-align: justify;
    background: linear-gradient(rgba(0,0,0,0.7));;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.explore span:hover{
    opacity: 1;
    font-size: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 80px;
}

h1{
    text-align: left;
    padding-left: 0.7in;
    font-family: Poppins;
    font-size: 45px;
}

.card{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.4s ease;
    padding-bottom: 50px;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    height: 100px;
    width: 150px;
}

.card-content{
    padding: 20px;
}

.card-content h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

.card-button{
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5 px;
    padding: 8px 16px;
}


@media(min-aspect-ratio:16/9){
    .banner video{
        width: 100%;
        height:auto;
    }
}


.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    padding-top: 40px;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}



.containerc2 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f5f5f5;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #222831;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
  align-items: center;
}

